<ifModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f 
# o -d referece caso seja arquivo. ( -d para diretórios)
   # RewriteRule "^(.+)$" index.php?pagina=$1
    RewriteRule "^.+/([0-9]{4})/(.+)$" index.php?cat=$1&date=$2&title=$3 [NC,L]
</ifModule>