<IfModule mod_deflate.c>
    <FilesMatch "\.(php|js|css)$">
        SetOutputFilter DEFLATE
    </FilesMatch>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml 
    AddOutputFilterByType DEFLATE application/xml application/xhtml+xml 
    AddOutputFilterByType DEFLATE text/javascript text/css 
    AddOutputFilterByType DEFLATE application/javascript application/pdf
</IfModule>